<%- include('../partials/header.ejs') %>

    <h2>Flight Details</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>Flight Number</th>
                <th>Departure Date</th>
            </tr>
        </thead>
        <tr>
            <td>
                <%= flight.airline %>
            </td>
            <td>
                <%= flight.airport %>
            </td>
            <td>
                <%= flight.flightNo %>
            </td>
            <td>
                <%= flight.departs %>
            </td>
        </tr>
    </table>
    <br><br>
    <h2>Flight Destinations</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Airport</th>
                <th>Arrival Date</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d){ %>

                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>

           <% }) %>
        </tbody>
    </table>
    <br><br>
    <h3>Add Destination</h3>
    <form method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Airport: <select name="airport">
            <option <%= flight.airport === 'DEN' || flight.destinations.some(destination => destination.airport === 'DEN') ? 'disabled' : '' %> value="DEN">DEN</option>
            <option <%= flight.airport === 'AUS' || flight.destinations.some(destination => destination.airport === 'AUS') ? 'disabled' : '' %> value="AUS">AUS</option>
            <option <%= flight.airport === 'DFW' || flight.destinations.some(destination => destination.airport === 'DFW') ? 'disabled' : '' %> value="DFW">DFW</option>
            <option <%= flight.airport === 'LAX' || flight.destinations.some(destination => destination.airport === 'LAX') ? 'disabled' : '' %> value="LAX">LAX</option>
            <option <%= flight.airport === 'SAN' || flight.destinations.some(destination => destination.airport === 'SAN') ? 'disabled' : '' %> value="SAN">SAN</option>
            </select>
            <label>Arrival Date: <input name="arrival" type="datetime-local"></label>
        <br>
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
    <br><br>
    <h3>Tickets</h3>
    <ul class="list-group">
        <%- tickets.map(t =>`<li class="list-group-item">Seat: ${t.seat} Price: ${t.price}    <form class="d-inline-flex" action="/tickets/${t._id}?_method=DELETE" method="POST"><button class="btn btn-danger" type="submit">x</button></form></li>`).join('') %>
    </ul>
    <br>
    <a class="btn btn-dark"href="/flights/<%= flight._id %>/tickets/new">Add a ticket</a>
    <%- include('../partials/footer.ejs') %>